<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum harum laboriosam quia iusto quidem quod aut numquam, et sed quas consequuntur odit natus quam cumque corrupti maiores soluta accusamus adipisci?</p>
    </div>
</div>