<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mogodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ut maiores sit, tempora quis minima excepturi ad accusamus quasi ipsam inventore hic. Accusantium in nobis praesentium voluptatibus. Suscipit, quo sequi.</p>
    <a href="www.faztweb.com" class="btn btn-primary btn-lg">AcgWeb</a>
</div>