
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/galbeiroc"><i class="fab fa-github"></i>GAlbeiroC</a>
  </div>
</footer>
